#change-lang-img {
  position: absolute;
  width: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
}

#language-button {
  margin-left: 10px;
  position: relative;
  width: 40px;
  height: 38px;
  border-color: transparent;
  cursor: pointer;
  transition: all .3s;
  will-change: transform;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.98);
  }

  &:hover #change-lang-img, &:active #change-lang-img {
    backface-visibility: hidden;
  }
}